{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<div class="row no-gutter">
    <div class="wr-hidden-operations-nav col-lg-4">
        <a href="javascript:void(0)" onclick="showAdvanceOperation('passcode-policy', this)" class="selected">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-key fw-stack-2x"></i>
                </span>
            Passcode Policy
            <span id="passcode-policy-configured" class="has-configured status-icon hidden"><i
                    class="fw fw-success"></i></span>
            <span id="passcode-policy-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="passcode-policy-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('camera', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-block fw-stack-2x"></i>
                </span>
            Restrictions
            <span id="camera-configured" class="has-configured status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="camera-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span class="camera-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('encrypt-storage', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-security fw-stack-2x"></i>
                </span>
            Encryption Settings
            <span id="encrypt-storage-configured" class="has-configured status-icon hidden"><i
                    class="fw fw-success"></i></span>
            <span id="encrypt-storage-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="encrypt-storage-error" class="encryption-error status-icon hidden"><i
                    class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('wifi', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-wifi fw-stack-2x"></i>
                </span>
            Wi-Fi Settings
            <span id="wifi-configured" class="has-configured status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="wifi-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="wifi-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
        <a href="javascript:void(0)" onclick="showAdvanceOperation('vpn', this)">
                <span class="wr-hidden-operations-icon fw-stack">
                    <i class="fw fw-vpn fw-stack-2x"></i>
                </span>
            Virtual Private Network
            <span id="vpn-configured" class="has-configured status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="vpn-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
            <span id="vpn-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
        </a>
            <a href="javascript:void(0)" class="worker-profile" onclick="showAdvanceOperation('work-profile', this)">
             <span class="wr-hidden-operations-icon fw-stack">
                 <i class="fw fw-service fw-stack-2x"></i>
             </span>
                Work-Profile Configurations
                <span id="work-profile-configured" class="has-configured status-icon hidden"><i
                        class="fw fw-success"></i></span>
                <span id="work-profile-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
                <span id="work-profile-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
            </a>
            <a href="javascript:void(0)" onclick="showAdvanceOperation('app-restriction', this)">
            <span class="fw-stack fw-lg">
                <i class="fw fw-application fw-stack-1x"></i>
                <i class="fw fw-block fw-stack-2x"></i>
            </span>
                Application Restrictions
                <span id="app-restriction-configured" class="has-configured status-icon hidden"><i
                        class="fw fw-success"></i></span>
                <span id="app-restriction-ok" class="has-success status-icon hidden"><i
                        class="fw fw-success"></i></span>
                <span id="app-restriction-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
            </a>
            <a href="javascript:void(0)" onclick="showAdvanceOperation('enrollment-app-install', this)">
                        <span class="wr-hidden-operations-icon fw-stack">
                            <i class="fw fw-application fw-stack-2x"></i>
                      </span>
                Enrollment Application Install
                <span id="enrollment-app-install-configured" class="has-configured status-icon hidden"><i
                        class="fw fw-success"></i></span>
                <span id="enrollment-app-install-ok" class="has-success status-icon hidden"><i class="fw fw-success"></i></span>
                <span id="enrollment-app-install-error" class="has-error status-icon hidden"><i class="fw fw-error"></i></span>
            </a>

</div>

    <div class="wr-hidden-operations-content col-lg-8">
        <!-- passcode-policy -->
        <div class="wr-hidden-operation" data-operation="passcode-policy" style="display: block">
            <div class="panel panel-default operation-data" data-operation="passcode-policy"
                 data-operation-code="PASSCODE_POLICY">
                <div id="passcode-policy-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Passcode Policy
                        <label id="passcode-policy-lbl" class="wr-input-control switch" data-toggle="collapse"
                               data-target="#passcode-policy-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Enforce a configured passcode policy on Android devices.
                        Once this profile is applied, the device owners won't be able to modify the password settings on
                        their devices.
                    </div>
                </div>
                <div id="passcode-policy-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="passcode-policy-body">
                    <hr/>
                    <div id="passcode-policy-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-allow-simple" type="checkbox"
                                   class="form-control operationDataKeys" data-key="passcodePolicyAllowSimple"
                                   checked="checked"/>
                            <span class="helper"
                                  title="Permits repeating, ascending and descending character sequences">
                                Allow simple value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="passcode-policy-require-alphanumeric" type="checkbox"
                                   class="form-control operationDataKeys" data-key="passcodePolicyRequireAlphanumeric"
                                   checked="checked"/>
                            <span class="helper" title="Mandates to contain both letters and numbers">
                                Require alphanumeric value
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-length">
                            Minimum passcode length
                            <span class="helper" title="Minimum number of characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-length" class="form-control operationDataKeys"
                                data-key="passcodePolicyMinLength" data-default="0">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-min-complex-chars">
                            Minimum number of complex characters
                            <span class="helper"
                                  title="Minimum number of complex or non-alphanumeric characters allowed in a passcode">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-min-complex-chars" class="form-control operationDataKeys"
                                data-key="passcodePolicyMinComplexChars" data-default="0">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                        </select>
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-max-passcode-age-in-days">
                            Maximum passcode age in days*
                            <span class="helper" title="Number of days after which a passcode must be changed">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( Should be in between 1-to-730 days or 0 for none )
                        </label>
                        <input id="passcode-policy-max-passcode-age-in-days" type="text"
                               class="form-control operationDataKeys" data-key="passcodePolicyMaxPasscodeAgeInDays"
                               maxlength="3">
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcode-policy-passcode-history">
                            Passcode history*
                            <span class="helper" title="Number of consequent unique passcodes to be used before reuse">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            ( Should be in between 1-to-50 passcodes or 0 for none )
                        </label>
                        <input id="passcode-policy-passcode-history" type="text" class="form-control operationDataKeys"
                               data-key="passcodePolicyPasscodeHistory" maxlength="2">
                    </div>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="passcodePolicyMaxFailedAttempts">
                            Maximum number of failed attempts
                            <span class="helper"
                                  title="The maximum number of incorrect password entries allowed. If the correct password is not entered within the allowed number of attempts, the data on the device will be erased.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <select id="passcode-policy-max-failed-attempts" class="form-control operationDataKeys"
                                data-key="passcodePolicyMaxFailedAttempts" data-default="0">
                            <option value="" selected="selected">
                                None
                            </option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- camera -->
        <div class="wr-hidden-operation" data-operation="camera">
            <div class="panel panel-default operation-data" data-operation="camera" data-operation-code="CAMERA">
                <div id="camera-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Restrictions
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#camera-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Restrict predefined settings on Android devices.
                        Once this profile is applied, the device owners won't be able to modify the configured settings
                        on their devices.
                    </div>
                </div>
                <div id="camera-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="camera-body">
                    <hr/>
                    <div id="camera-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="camera-enabled" type="checkbox" class="operationDataKeys"
                                   data-key="cameraEnabled" checked="checked"/>
                            <span class="helper"
                                  title="Enables the usage of device camera.">
                                Allow use of camera
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                        <div class="worker-profile-or-owner">
                            <ul class="message message-info">
                                <i class="icon fw fw-info"></i>
                                <a id="policy-listing-status-msg"> Below Restrictions are valid only when the Agent is
                                    <b>work-profile owner</b>.</a>
                            </ul>
                        </div>
                        <br/>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-configuring-credentials-enabled" type="checkbox"
                                       class="operationDataKeys"
                                       data-key="disallowConfigCredentials"/>
                                <span class="helper"
                                      title="Users are restricted from changing their password.">
                                Disallow configuring credentials
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-configuring-VPN-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowConfigVpn"/>
                                <span class="helper" title="Users are restricted from configuring VPN.">
                                Disallow configuring VPN
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>

                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-configuring-app-control-enabled" type="checkbox"
                                       class="operationDataKeys"
                                       data-key="disallowAppControl"/>
                                <span class="helper"
                                      title="Restricts users from modifying applications in the device's settings or launchers.">
                                Disallow configuring app control
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-cross-profile-copy-paste-enabled" type="checkbox"
                                       class="operationDataKeys"
                                       data-key="disallowCrossProfileCopyPaste"/>
                                <span class="helper"
                                      title="Device owners are restricted from copying items that are copied to the
                                      clipboard from the managed profile to the parent profile or vice-versa.">
                                Disallow cross profile copy paste
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-debugging-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowDebugging"/>
                                <span class="helper" title="Users are restricted from accessing debug logs.">
                                Disallow debugging
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-install-apps-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowInstallApps"/>
                                <span class="helper" title="Users are restricted from installing applications.">
                                Disallow install apps
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-installing-from-unknown-enabled" type="checkbox"
                                       class="operationDataKeys"
                                       data-key="disallowInstallUnknownSources"/>
                                <span class="helper" title="Users are restricted from installing applications from unknown origin.">
                                Disallow install from unknown sources
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-modify-accounts-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowModifyAccounts"/>
                                <span class="helper" title="Users are restricted from modifying user accounts.">
                                Disallow modify accounts
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-outgoing-beam-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowOutgoingBeam"/>
                                <span class="helper" title="Users are restricted from using NFC bump.">
                                Disallow outgoing beam
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-location-sharing-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowLocationSharing"/>
                                <span class="helper" title="Users are restricted from sharing their geo-location.">
                                Disallow location sharing
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-uninstall-apps-enabled" type="checkbox" class="operationDataKeys"
                                       data-key="disallowUninstallApps"/>
                                <span class="helper" title="Users are restricted from uninstalling applications.">
                                Disallow uninstall apps
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <div class="wr-input-control worker-profile-or-owner">
                            <label class="wr-input-control checkbox">
                                <input id="disallow-parent-profile-app-linking-enabled" type="checkbox"
                                       class="operationDataKeys"
                                       data-key="disallowParentProfileAppLinking"/>
                                <span class="helper"
                                      title="Allows apps in the parent profile to access or handle web links from the managed profile.">
                                Disallow parent profile app linking
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            </label>
                        </div>
                </div>
            </div>
        </div>
        <!-- /camera -->

        <!-- encrypt-storage -->
        <div class="wr-hidden-operation" data-operation="encrypt-storage">
            <div class="panel panel-default operation-data" data-operation="encrypt-storage"
                 data-operation-code="ENCRYPT_STORAGE">
                <div id="encrypt-storage-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Encryption Settings
                        <label class="wr-input-control switch" data-toggle="collapse"
                               data-target="#encrypt-storage-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Encrypt data on an Android device when the device is locked and make it readable when the device
                        is unlocked.
                        Once this profile is applied, the device owners won't be able to modify the configured settings
                        on their devices.
                    </div>
                </div>
                <div id="encrypt-storage-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="encrypt-storage-body">
                    </hr>
                    <div id="encrypt-storage-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    Un-check following checkbox in case you do not need the device to be encrypted.
                    <br>
                    <br>
                    <div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="encrypt-storage-enabled" type="checkbox" class="operationDataKeys"
                                   data-key="encryptStorageEnabled" checked="checked"/>
                            <span class="helper"
                                  title="Having this checked would enable Storage-encryption in the device">
                                Enable storage-encryption
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <!-- /encrypt-storage -->

        <!-- wi-fi -->
        <div class="wr-hidden-operation" data-operation="wifi">
            <div class="panel panel-default operation-data" data-operation="wifi" data-operation-code="WIFI">
                <div id="wifi-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Wi-Fi Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#wifi-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Configure the Wi-Fi settings on Android devices.
                        Once this profile is applied, the device owners won't be able to modify the configured settings
                        on their devices.
                    </div>
                </div>
                <div id="wifi-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="wifi-body">
                    <hr/>
                    Please note that * sign represents required fields of data.
                    <br>
                    <br>
                    <div id="wifi-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="wifi-ssid">
                            Service Set Identifier (SSID)*
                            <span class="helper" title="Identification of the wireless network to be configured.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <label id="wifiSsidValidationText" class="wr-input-label hidden">
                            Service Set Identifier should be 1-to-30 characters long
                        </label>
                        <input id="wifi-ssid" type="text" class="form-control operationDataKeys" data-key="wifiSSID"
                               maxlength="100" placeholder="[ Should be 1-to-30 characters long ]"/>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="wifi-type">
                            Security*
                            <span class="helper"
                                  title="Security type of the wireless network to be configured. 802.1x EAP works with
                                  Android 4.3 and above devices only.">
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </span>
                        </label>
                        <select class="form-control operationDataKeys" id="wifi-type"
                                onchange="changeAndroidWifiPolicy(this)" data-key="wifiType">
                            <option value="none" selected>None</option>
                            <option value="wep">WEP</option>
                            <option value="wpa">WPA/WPA 2 PSK</option>
                            <option value="802eap">802.1x EAP</option>
                        </select>
                    </div>

                    <div class="wr-input-control" id="control-wifi-eap" style="display:none;">
                        <label class="wr-input-label" for="wifi-eap">
                            EAP Method
                            <span class="helper" title="EAP Method of the wireless network to be configured.">
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </span>
                        </label>
                        <select class="form-control operationDataKeys" id="wifi-eap"
                                onchange="changeAndroidWifiPolicyEAP(this, document.getElementById('wifi-type'))"
                                data-key="wifiEAP">
                            <option value="peap">PEAP</option>
                            <option value="tls">TLS</option>
                            <option value="ttls">TTLS</option>
                            <option value="pwd">PWD</option>
                            <option value="sim">SIM</option>
                            <option value="aka">AKA</option>
                        </select>
                    </div>
                    <div class="wr-input-control" id="control-wifi-phase2" style="display:none;">
                        <label class="wr-input-label" for="wifi-phase2">
                            Phase 2 Authentication
                            <span class="helper"
                                  title="Phase 2 authentication of the wireless network to be configured.">
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </span>
                        </label>
                        <select class="form-control operationDataKeys" id="wifi-phase2" data-key="wifiPhase2">
                            <option value="none">None</option>
                            <option value="pap">PAP</option>
                            <option value="mchap">MCHAP</option>
                            <option value="mchapv2">MCHAPV2</option>
                            <option value="gtc">GTC</option>
                        </select>
                    </div>
                    <div class="wr-input-control" id="control-wifi-provisioning" style="display:none;">
                        <label class="wr-input-label" for="wifi-provisioning">
                            Provisioning
                            <span class="helper" title="Provisioning of the wireless network to be configured.">
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </span>
                        </label>
                        <select class="form-control operationDataKeys" id="wifi-provisioning"
                                data-key="wifiProvisioning">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="wr-input-control" id="control-wifi-identity" style="display:none;">
                        <label class="wr-input-label" for="wifi-identity">
                            Identity
                            <span class="helper" title="Identity of the wireless network to be configured.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <label id="wifiIdentityValidationText" class="wr-input-label hidden">
                            Identity should be 1-to-30 characters long
                        </label>
                        <input id="wifi-identity" type="text" class="form-control operationDataKeys"
                               data-key="wifiIdentity"
                               maxlength="100" placeholder="[ Should be 1-to-30 characters long ]"/>
                    </div>
                    <div class="wr-input-control" id="control-wifi-anoidentity" style="display:none;">
                        <label class="wr-input-label" for="wifi-anoidentity">
                            Anonymous Identity
                            <span class="helper" title="Identity of the wireless network to be configured.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <label id="wifiIdentityValidationText" class="wr-input-label hidden">
                            Anonymous Identity should be 1-to-30 characters long
                        </label>
                        <input id="wifi-anoidentity" type="text" class="form-control operationDataKeys"
                               data-key="wifiAnoIdentity"
                               maxlength="100" placeholder="[ Should be 1-to-30 characters long ]"/>
                    </div>
                    <div class="wr-input-control" id="control-wifi-cacert" style="display:none;">
                        <label class="wr-input-label" for="wifi-password">
                            CA Certificate
                            <span class="helper" title="CA Certificate for the wireless network.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <input id="wifi-cacert-upload" type="file" class="form-control"
                               onchange="base64EncodeFile(this, document.getElementById('wifi-cacert'),
                               document.getElementById('wifi-cacert-name'))"/>
                        <input id="wifi-cacert" type="hidden" class="form-control operationDataKeys"
                               data-key="wifiCaCert"/>
                        <input id="wifi-cacert-name" type="hidden" class="form-control operationDataKeys"
                               data-key="wifiCaCertName"/>
                    </div>
                    <div class="wr-input-control" id="control-wifi-password" style="display:none;">
                        <label class="wr-input-label" for="wifi-password">
                            Password
                            <span class="helper required" title="Password for the wireless network.">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <input id="wifi-password" type="password" class="form-control operationDataKeys"
                               data-key="wifiPassword" maxlength="100"/>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- /wi-fi -->

        <!--app-restriction-->
        <div class="wr-hidden-operation" data-operation="app-restriction">
            <div class="panel panel-default operation-data" data-operation="app-restriction"
                 data-operation-code="APP-RESTRICTION">
                <div id="app-restriction-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Application Restriction Settings
                        <label class="wr-input-control switch" data-toggle="collapse"
                               data-target="#app-restriction-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Blacklist or whitelist mobile application for Android devices.
                    </div>
                </div>
                <div id="app-restriction-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="app-restriction-body">
                    <hr/>
                    <div id="app-restriction-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <label class="wr-input-label" for="app-restriction-type">
                        Select type
                        <span class="helper" title="Select a type to proceed.">
                            <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                        </span>
                        <br>
                    </label>
                    <select id="app-restriction-type" class="form-control operationDataKeys" data-key="restrictionType">
                        <option value="" selected="selected">
                            None
                        </option>
                        <option value="black-list">Black List</option>
                        <option value="white-list">White List</option>
                    </select>

                    <div class="wr-input-control">
                        <label class="wr-input-label" for="restricted-applications">
                            <br><br>Restricted Application List
                            <span class="helper" title="Add an application to restrict.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <br/>
                        <a href="#restricted-applications-grid" class="btn btn-secondary grid-input-add "
                           data-click-event="add-form">
                                <span class="icon fw-stack">
                                    <i class="fw fw-add fw-stack-1x"></i>
                                    <i class="fw fw-circle-outline fw-stack-2x"></i>
                                </span>

                            Add Application
                        </a>
                        <div id="restricted-applications"
                             class="operationDataKeys grouped-array-input multi-column-key-value-pair-array"
                             data-key="restrictedApplications" data-column-count="2">
                            <table class="table table-responsive table-striped">
                                <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Application Name/Description</th>
                                    <th>Package Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody data-add-form-container="#restricted-applications-grid">
                                <tr data-help-text="add-form">
                                    <td colspan="4">
                                        No entries added yet .
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="template hidden">
                                <tbody data-add-form="#restricted-applications-grid">
                                <tr data-add-form-element="clone">
                                    <td data-title="No:">
                                        <span class="index"></span>
                                    </td>
                                    <td data-title="App Name">
                                        <input type="text" class="form-control grid-input-text" data-child-key="appName"
                                               maxlength="100" data-default="" placeholder="[ Gmail ]"/>
                                    </td>
                                    <td data-title="Package Name">
                                        <input type="text" class="form-control grid-input-text"
                                               data-child-key="packageName" maxlength="100" data-default=""
                                               placeholder="[ com.google.android.gm ]"/>
                                    </td>
                                    <td>
                                            <span class="list-group-item-actions">
                                                <a href="#restricted-applications-grid" class="grid-input-remove"
                                                   data-click-event="remove-form">
                                                    <span class="fw-stack helper" title="Remove Entry">
                                                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                                                        <i class="fw fw-delete fw-stack-1x"></i>
                                                    </span>
                                                </a>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/app-restriction-->

        <!-- VPN -->
        <div class="wr-hidden-operation" data-operation="vpn">
            <div class="panel panel-default operation-data" data-operation="vpn" data-operation-code="VPN">
                <div id="vpn-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        VPN Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#vpn-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Configure the OpenVPN settings on Android devices.
                        In order to enable this, device needs to have "OpenVPN for Android" application installed.
                    </div>
                </div>
                <div id="vpn-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="vpn-body">
                    <hr/>
                    <br>
                    <div id="vpn-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="ovpn-file">
                            OpenVPN Server Config*
                            <span class="helper" title="OpenVPN configurations from ovpn file">
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                        <input id="ovpn-file" type="file" class="form-control operationDataKeys"
                               maxlength="200" onchange="ovpnConfigUploaded()"/>

                        <input id="openvpn-config" class="form-control operationDataKeys" type="hidden" data-key="openvpn_config" />
                        <input id="vpn-type" class="form-control operationDataKeys" type="hidden" data-key="type" value="OpenVPN" />
                    </div>
                    <br/>

                </div>

                <!-- Always on VPN connection settings -->

                <div id="always-on-vpn-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Always On VPN Settings
                        <label class="wr-input-control switch" data-toggle="collapse" data-target="#always-on-vpn-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Configure an always-on VPN connection through a specific VPN client application
                    </div>
                </div>

                <div id="always-on-vpn-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="vpn-body">
                    <hr/>

                    <div class="always-on-vpn-message">
                        <ul class="message message-info">
                            <i class="icon fw fw-info"></i>
                            <a id="always-on-vpn-status-msg"> Below configurations are valid only when the Agent is
                                <b>work-profile owner</b>.</a>
                        </ul>
                    </div>
                    <br/>
                    <div id="always-on-vpn-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="vpn-client-app">
                            VPN Client Application Package Name
                            <span class="helper" title="Package name of the VPN client application to be configured.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                        </label>
                        <input id="vpn-client-app" type="text" class="form-control operationDataKeys"
                               data-key="packageName" maxlength="200" placeholder="[ Should be a valid package name ]"/>
                    </div>
                </div>
                <!-- Always on VPN connection settings -->

            </div>
        </div>
        <!-- /VPN -->

        <!--Work-profile-->
        <div class="wr-hidden-operation" data-operation="work-profile">
            <div class="panel panel-default operation-data" data-operation="work-profile"
                 data-operation-code="WORK_PROFILE">
                <div id="work-profile-policy-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Work-Profile Configurations
                        <label id="work-profile-policy-lbl" class="wr-input-control switch" data-toggle="collapse"
                               data-target="#work-profile-policy-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Configure these settings to manage the applications in the work profile.
                    </div>
                </div>
                <div id="work-profile-policy-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="work-profile-policy-body">
                    <hr/>
                    <div id="work-profile-policy-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <!--<div class="wr-input-control">
                        <label class="wr-input-control checkbox">
                            <input id="work-profile-policy-allow-cross-profile" type="checkbox" class="form-control
                            operationDataKeys" data-key="workProfilePolicyAllowCopyPaste" checked="checked" />
                                <span class="helper" title="Permit the use of repeating, ascending and descending
                                character sequences">
                                    Allow cross profile copy-paste
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                        </label>
                    </div> -->
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="work-profile-policy-max-passcode-age-in-days">
                            Profile Name
                            <span class="helper" title="Name of the Work-Profile created by IoT Server Agent">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                        </label>
                        <input id="work-profile-policy-profile-name" type="text" class="form-control operationDataKeys"
                               data-key="workProfilePolicyProfileName" maxlength="20">
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="work-profile-policy-enable-system-apps">
                            Enable System Apps
                            <span class="helper"
                                  title="The system applications that needs to enabled in the work-profile.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            (Provide the exact package name. Multiple package names can be provided as comma separated
                            values. Ex: com.google.android.apps.maps,
                            com.google.android.calculator)
                        </label>
                        <textarea id="workProfilePolicyEnableSystemApps" type="text"
                                  class="form-control operationDataKeys" rows="4"
                                  data-key="workProfilePolicyEnableSystemApps"></textarea>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="work-profile-policy-hide-system-apps">
                            Hide System Apps
                            <span class="helper"
                                  title="The system applications that needs to be hidden in the work-profile.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            (Provide the exact package name. Multiple package names can be provided as comma separated
                            values. Ex: com.google.android.apps.maps,
                            com.google.android.calculator)
                        </label>
                        <textarea id="work-profile-policy-hide-system-apps" class="form-control operationDataKeys"
                                  rows="4" data-key="workProfilePolicyHideSystemApps" placeholder=""></textarea>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="work-profile-policy-unhide-system-apps">
                            Unhide System Apps
                            <span class="helper"
                                  title=" The system applications that needs to be shown in the work-profile."></span>
                            </span>
                            <br>
                            (Provide the exact package name. Multiple package names can be provided as comma separated
                            values. Ex: com.google.android.apps.maps,
                            com.google.android.calculator)
                        </label>
                        <textarea id="work-profile-policy-unhide-system-apps" class="form-control operationDataKeys"
                                  rows="4" data-key="workProfilePolicyUnhideSystemApps" placeholder=""></textarea>
                    </div>
                    <div class="wr-input-control">
                        <label class="wr-input-label" for="work-profile-policy-install-playstore-apps">
                            Enable Google Play Store Apps
                            <span class="helper"
                                  title="The applications that needs to be downloaded and installed from Google play store to the work-profile.">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                            </span>
                            <br>
                            (Provide the exact package name. Multiple package names can be provided as comma separated
                            values. Ex: com.google.android.apps.maps,
                            com.google.android.calculator)
                        </label>
                        <textarea id="work-profile-policy-install-playstore-apps" class="form-control operationDataKeys"
                                  rows="4" data-key="workProfilePolicyEnablePlaystoreApps" placeholder=""></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--enrolment-app-install-->
        <div class="wr-hidden-operation" data-operation="enrollment-app-install">
            <div class="panel panel-default operation-data" data-operation="enrollment-app-install"
                 data-operation-code="ENROLLMENT_APP_INSTALL">
                <div id="enrollment-app-install-heading" class="panel-heading" role="tab">
                    <h2 class="sub-title panel-title">
                        Enrollment Application Install
                        <label class="wr-input-control switch" data-toggle="collapse"
                               data-target="#enrollment-app-install-body">
                            <input type="checkbox"/>
                            <span class="helper"></span>
                            <span class="text"></span>
                        </label>
                    </h2>
                    <div class="panel-title-description">
                        Enforce applications to be installed during Android device enrollment.
                        <div class="message message-info">
                            <i class="icon fw fw-info"></i>
                            This configuration will be applied <b>only during Android device enrollment</b>.
                        </div>
                    </div>
                </div>
                <div id="enrollment-app-install-body" class="panel-collapse panel-body collapse" role="tabpanel"
                     aria-labelledby="enrollment-app-install-body">
                    <hr/>
                    <div id="enrollment-app-install-feature-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>

                    <label class="wr-input-label">
                        Select Enrollment Applications
                    </label>

                    <div id="install-app-enrollment"
                         class="operationDataKeys grouped-array-input multi-column-key-value-pair-array specific-enrollment-app-install"
                         data-key="enrollmentAppInstall" data-column-count="11">
                        <table class="table table-responsive table-striped data-table" id="enrollment-app-install-table">
                            <thead>
                            <tr class="sort-row">
                                <th>Application Name</th>
                                <th>Type</th>
                                <th>Version</th>
                                <th>Auto Install</th>
                                <th>Work Profile Availability</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each storeapps}}
                                <tr data-add-form-container="#enrollment-app-install-grid">
                                    <td data-title="enrollment-app-install-app-name">
                                        {{this.appName}}
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="appName" value="{{this.appName}}"/>
                                    </td>
                                    <td data-title="enrollment-app-install-app-type">
                                        {{this.type}}
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="type" value="{{this.type}}"/>
                                    </td>
                                    <td data-title="enrollment-app-install-app-name">
                                        {{this.version}}
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="version" value="{{this.version}}"/>
                                    </td>
                                    <td data-title="enrollment-app-install-app-selection">
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="uuid" value="{{this.uuid}}"/>
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="appId"  value="{{this.appId}}"/>
                                        <input class="enrollment-app-install-input" type="checkbox"
                                               data-app-id="{{this.appId}}"
                                               data-child-key="enrollmentAppInstall" onclick="enrollmentAppInstallClick (this)"
                                               data-enrollment-app-install="{{this.enrollmentAppInstall}}" />
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="packageName"  value="{{this.packageName}}"/>
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="productSetBehavior"  value="{{this.productSetBehavior}}"/>
                                        <input class="enrollment-app-install-input" type="hidden" data-child-key="autoUpdatePolicy"  value="{{this.autoUpdatePolicy}}"/>
                                    </td>
                                    <td data-title="enrollment-app-install-app-configurations">
                                        <input class="enrollment-app-install-input" type="checkbox"
                                               onclick="appAvailabilityClick(this)"
                                               data-app-id="{{this.appId}}"
                                               data-app-name="{{this.appName}}" data-child-key="installGooglePolicy"
                                               value="{{this.installGooglePolicy}}"
                                               data-package-name="{{this.packageName}}" />
                                        <input class="enrollment-app-install-input" type="hidden"
                                               value="{{this.installGooglePolicyPayload}}"
                                               data-app-id="{{this.appId}}"
                                               data-child-key="installGooglePolicyPayload" />
                                    </td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td>No android apps available in the store.</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                        <div id="app-availability-config-form" hidden="true">
                            <br><br>
                            <h2 class="sub-title"> App Install Policy(Work profile only)</h2>
                            <h2 id="app-availability-config-form-title" class="sub-title panel-title"></h2>

                            <div class="wr-input-control">
                                <label class="wr-input-label" for="app-availability-auto-install-mode">
                                    App Initial Install Mode
                                    <span class="helper" title="The auto install mode for the first time">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                </label>
                                <select id="app-availability-auto-install-mode" class="form-control operationDataKeys"
                                        data-key="autoInstallMode" data-default="0">

                                    <option value="autoInstallOnce">
                                        Auto install once only when enrolling
                                    </option>
                                    <option value="doNotAutoInstall">Do not install automatically</option>
                                    <option value="forceAutoInstall">Auto install even if uninstalled manually</option>
                                </select>
                            </div>

                            <div class="wr-input-control">
                                <label class="wr-input-label" for="app-availability-install-priority">
                                    Priority level when installing the app
                                    <span class="helper" title="Priority level when installing the app among many other apps">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                </label>
                                <select id="app-availability-install-priority" class="form-control operationDataKeys"
                                        data-key="autoInstallPriority" data-default="0">

                                    <option value="10">
                                        Highest
                                    </option>
                                    <option value="20">High</option>
                                    <option value="30">Medium</option>
                                    <option value="40">Low</option>
                                    <option value="50">Lowest</option>
                                </select>
                            </div>

                            <div class="wr-input-control">
                                <label class="wr-input-label" for="app-availability-install-charging">
                                    Device charging state when installing apps
                                    <span class="helper" title="Device charging state when installing apps">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                </label>
                                <select id="app-availability-install-charging" class="form-control operationDataKeys"
                                        data-key="chargingStateConstraint" data-default="0">

                                    <option value="chargingRequired">Device must be charging</option>
                                    <option value="chargingNotRequired">Device does not need to be charging</option>
                                </select>
                            </div>

                            <div class="wr-input-control">
                                <label class="wr-input-label" for="app-availability-install-idle">
                                    Device processor state when installing
                                    <span class="helper" title="Device processor state when installing">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                </label>
                                <select id="app-availability-install-idle" class="form-control operationDataKeys"
                                        data-key="deviceIdleStateConstraint" data-default="0">

                                    <option value="deviceIdleNotRequired">
                                        Device does not need to be idling
                                    </option>
                                    <option value="deviceIdleRequired">Device must be idling</option>
                                </select>
                            </div>

                            <div class="wr-input-control">
                                <label class="wr-input-label" for="app-availability-install-network">
                                    Device network state when installing
                                    <span class="helper" title="Device processor state when installing">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                                </label>
                                <select id="app-availability-install-network" class="form-control operationDataKeys"
                                        data-key="networkTypeConstraint" data-default="0">

                                    <option value="anyNetwork">
                                        Device can be in any network
                                    </option>
                                    <option value="unmeteredNetwork">Device must be in an unmetered network</option>
                                </select>
                            </div>

                            <input class="wr-btn wizard-stepper" type="button" value="Save" id="app-install-config-save"
                                   onclick="changeSavedAppInstallData(this)" data-app-id="" data-package-name=""/>

                        </div>
                    </div>
                    <div id="app-availability-global-config-form">
                        <br><br>
                        <h2 class="sub-title">Work profile global user configurations</h2>
                        <div class="wr-input-control">
                            <label class="wr-input-label" for="auto-update-policy">
                                App Auto Update Policy
                                <span class="helper" title="The auto-update policy for apps installed on the device">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                            </label>
                            <select id="auto-update-policy" class="form-control operationDataKeys"
                                    data-key="autoUpdatePolicy" data-default="0" onchange="changeSavedGlobalAppConfig(this)">
                                <option value="wifiOnly">
                                    When connected to WiFi
                                </option>
                                <option value="always">Auto Update Anytime</option>
                                <option value="choiceToTheUser">Ask User To Update</option>
                                <option value="never">Disable Auto Update</option>
                            </select>
                        </div>

                        <div class="wr-input-control">
                            <label class="wr-input-label" for="product-set-behaviour">
                                App Availability To A User
                                <span class="helper" title="The availability granted to the user for the specified app">
                                <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </span>
                            </label>
                            <select id="product-set-behaviour" class="form-control operationDataKeys"
                                    data-key="productSetBehavior" data-default="0" onchange="changeSavedGlobalAppConfig(this)">
                                <option value="allApproved">All Approved Apps For Enterprise</option>
                                <option value="includeAll">All Apps From Playstore</option>
                                <option value="whitelist">Only Whitelisted Apps</option>productAvailabilityPolicy
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/enrolment-app-install-->

    </div>
    <script type="text/javascript">applyDataTable();</script>
</div>